header {
font-family: 'Sulphur Point', sans-serif !important;
font-size: 20px;
position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-header {
  background-color: red;
}

.bg-dark {
background-color: black;
}

.wallet-connect {
   //padding-left: 200px;
}
